
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /Blog2/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Blog2/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# Las directivas (líneas) entre «BEGIN Simply Static» y «END Simply Static» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.
<Files "C:\xampp\htdocs\Blog2/wp-content/uploads\simply-static\e18a49c2d4b669da71e4168c7bf19e22-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static